body{
    background: linear-gradient(#ba19ff, #e2cedb);
}
a:link{color: #e194ff
}
a:visited{color: #e194ff
}
#everything{
    margin:auto;
    width:100%;
    height: 100%;
}
#banner{
    height: 160px;
    background: white;
    margin: 50px 0px 0px 50px;
}
#menuBar{
    margin-top: 60px;
    background: white;
    float: left;
    font-size: 17px;
}
#menuBar .menuButton{
    width: 150px;
    background: #ba19ff;
    border: 5px #ba19ff;
    padding: auto;
    text-align: center;
    color: white;
    margin: 15px;
    border-radius: 20px;
    display: inline-block;
}
#content{
    background-color: #eab8ff;
}
table{
    border: 1px #ba19ff double;
    width: 100%;
}
.tableasd{
    width: auto;
}