body{
    background: linear-gradient(45deg, #e22acd, #eab8ff);
}
a:link{color:white}
a:visited{color:white}
#everything{
    margin:auto;
    width:100%;
}
#banner{
    height: 160px;
    background: white;
    margin: 50px 0px 0px 50px;
}
#menuBar{
    margin-top: 60px;
    background: white;
    float: left;
    font-size: 17px;
}
#menuBar .menuButton{
    width: 150px;
    background: #e22acd;
    border: 5px crimson;
    padding: auto;
    text-align: center;
    color: white;
    margin: 15px;
    border-radius: 20px;
    display: inline-block;
}
#content{
    background: linear-gradient(45deg, #e22acd, #eab8ff);
}
table{
    border: 1px crimson dashed;
    width: 100%;
}
.tableasd{
    width: auto;
}